@using System.Text.Json;
@inject IHttpContextAccessor context;
@{
  string? jsonStringUsuario = context.HttpContext.Session.GetString("Usuario");
  string? jsonStringCarrito = context.HttpContext.Session.GetString("Carrito");


  bool logeado = false;
  bool hayCarrito = false;
  Usuario? userLogeado = new Usuario();
  IEnumerable<Producto>? carrito;

  if (jsonStringUsuario != null)
  {
    userLogeado = JsonSerializer.Deserialize<Usuario>(jsonStringUsuario);
    logeado = true;
  } else
  {
    logeado = false;
  }

  if (jsonStringCarrito != null)
  {
    carrito = JsonSerializer.Deserialize<IEnumerable<Producto>>(jsonStringCarrito);
    hayCarrito = true;
  } else
  {
    hayCarrito = false;
  }
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/toastr.min.css">
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true">
  @if (ViewData["Title"] == "Iniciar sesión" || ViewData["Title"] == "Crear cuenta")
    {
    <link rel="stylesheet" href="/css/login.css">
    }
  @if (ViewData["PageType"] == "admin" || ViewData["PageType"] == "user")
  {
    <link rel="stylesheet" href="/css/other.css">
  }
</head>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-5">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="@(ViewData["Title"] == "Sullivan Burger - Web Oficial" ? "active" : null)" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li><a class="@(ViewData["Title"] == "Sobre nosotros" ? "active" : null)" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                        <li><a class="@(ViewData["Title"] == "Productos" ? "active" : null)" asp-area="" asp-controller="Home" asp-action="Products">Productos</a></li>
                                        <li><a class="@(ViewData["Title"] == "Contáctanos" ? "active" : null)" asp-area="" asp-controller="Home" asp-action="Contact">Contacto</a></li>
                                        
                                        <li class="responsiveNavItem d-none">
                                            <a asp-area="" asp-controller="Orders" asp-action="Order">
                                                Realizar pedido
                                            </a>
                                          </li>
                                        @if(hayCarrito) {

                                          <li class="responsiveNavItem d-none">
                                            <a asp-area="" asp-controller="Orders" asp-action="Carrito">
                                                Tu carrito
                                            </a>
                                          </li>
                                        }
                                        @if (logeado){
                                        <li class="responsiveNavItem d-none">
                                            <a asp-controller="Users" asp-action="EditProfile" asp-route-id="@userLogeado.Email">
                                              Tu perfil
                                            </a>
                                        </li>
                                        
                                        if(userLogeado.esAdmin()){
                                          <li class="responsiveNavItem d-none">
                                            <a asp-area="" asp-controller="Home" asp-action="Admin">
                                                Panel de admin
                                            </a>
                                          </li>
                                        }
                                        <li class="responsiveNavItem d-none">
                                            <a asp-area="" asp-controller="Users" asp-action="Logout">
                                                Cerrar sesión
                                            </a>
                                          </li>
                                      }
                                       
                                        @if (!logeado){
                                        <li class="responsiveNavItem d-none">
                                            <a asp-area="" asp-controller="Users" asp-action="Login">
                                                Iniciar sesión
                                            </a>
                                        </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                            <div class="book_room">
                                <div class="socail_links">
                                    <ul>
                                      @if (logeado){
                                        <li>
                                            <a asp-controller="Users" asp-action="EditProfile" asp-route-id="@userLogeado.Email">
                                              @userLogeado.Nombre
                                            </a>
                                        </li>
                                      
                                      @if(hayCarrito){
                                        <li>
                                          <a asp-area="" asp-controller="Orders" asp-action="Carrito">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                          </a>
                                        </li>
                                      }
                                        
                                      @if(userLogeado.esAdmin()){
                                          <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Admin">
                                                <i class="fa fa-gear"></i>
                                            </a>
                                          </li>
                                        }
                                        <li>
                                            <a asp-area="" asp-controller="Users" asp-action="Logout">
                                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                            </a>
                                          </li>
                                      }
                                      @if(!logeado && hayCarrito){
                                        <li>
                                          <a asp-area="" asp-controller="Orders" asp-action="Carrito">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                          </a>
                                        </li>
                                      }
                                        <li>
                                            <a href="https://www.instagram.com/sullivanburger/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        @if (!logeado){
                                        <li>
                                            <a asp-area="" asp-controller="Users" asp-action="Login">
                                                <i class="fa fa-user"></i>
                                            </a>
                                        </li>
                                        }
                                        
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-xl-block">
                                    <a class="#" asp-controller="Orders" asp-action="Order">Realizar pedido</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <partial name="_Toast" />
    @RenderBody()

  @if (ViewData["PageType"] != "admin")
  {
    <!-- footer_start  -->
    <footer class="footer">
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="footer_widget text-center ">
                <h3 class="footer_title pos_margin">
                  Sevilla
                </h3>
                <p>
                  Avenida Virgen del Rocío, <br>
                  Nº3, 41804 Olivares <br>
                  <a href="#">info@sullivanburger.com</a>
                </p>
                <a class="number" href="#">+34 689 325 436</a>

              </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="footer_widget text-center ">
                <h3 class="footer_title pos_margin">
                  Málaga
                </h3>
                <p>
                  Calle Gomera,<br>
                  Nº6, 29640 Fuengirola<br>
                  <a href="#">info@sullivanburger.com</a>
                </p>
                <a class="number" href="#">+34 689 325 436</a>

              </div>
            </div>
            <div class="col-xl-4 col-md-12 col-lg-4">
              <div class="footer_widget">
                <h3 class="footer_title">
                  Mantente informado
                </h3>
                <p class="newsletter_text">
                  ¡Mantente conectado con nosotros para obtener oferta exclusiva, 
                  puedes seguirnos en nuestras redes sociales para estar al tanto de todo!
                </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <div class="socail_links text-center">
                <ul>
                  <li>
                    <a href="#">
                      <i class="ti-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-twitter-alt"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right_text">
      <div class="container">
        <div class="footer_border"></div>
        <div class="row">
          <div class="col-xl-12">
            <p class="copy_right text-center">
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | Web creada
              con <i class="fa fa-heart-o" style="color: orange;" aria-hidden="true"></i> por Bruno López
              Rodríguez
            </p>
          </div>
        </div>
      </div>
    </div>
    </footer>
    <!-- footer_end  -->
  } else
  {
    <footer class="footer fixed-bottom">
      <div class="copy-right_text">
        <div class="container">
          <div class="footer_border"></div>
          <div class="row">
            <div class="col-xl-12">
              <p class="copy_right text-center">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Web creada
                con <i class="fa fa-heart-o" style="color: orange;" aria-hidden="true"></i> por Bruno López
                Rodríguez
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  }

    <span>
        <!-- JS here -->
        <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/isotope.pkgd.min.js"></script>
        <script src="/js/jquery.counterup.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/jquery.slicknav.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/main.js"></script>
    </span>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
