@model SullivanBurger.Models.ValoracionRestaurante
@{
    ViewData["Title"] = "Sullivan Burger - Web Oficial";
    IEnumerable<ValoracionRestaurante> valoraciones = ViewBag.Valoraciones;

}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <div class="deal_text">
                                <span>NEW</span>
                            </div>
                            <h3>
                                Burger <br>
                                Awebo
                            </h3>
                            <h4>Mexican</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <div class="deal_text">
                                <span>Big Deal</span>
                            </div>
                            <h3>Pecado Carnal</h3>
                            <h4>Beefy</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->


<!-- best_burgers_area_start  -->
<div class="best_burgers_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text-center mb-80">
          <span>Hamburguesas</span>
          <h3>Las Mejores Hamburguesas</h3>
        </div>
      </div>
    </div>
    <div class="row">
      @foreach (var obj in ViewBag.Hamburguesas)
      {
        <div class="col-xl-6 col-md-6 col-lg-6">
          <div class="single_delicious d-flex align-items-center">
            <div class="thumb">
              <img src="/img/products/hamburguesas/@obj.Imagen" width="166" height="166" alt="@obj.Nombre img">
            </div>
            <div class="info">
              <h3>@obj.Nombre</h3>
              <p>@obj.Descripcion</p>
              <span>@string.Format("{0:0.00}", obj.Precio)€</span>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="iteam_links">
          <a class="boxed-btn5" asp-action="Products">Más productos</a>
        </div>
      </div>
    </div>
  </div>

  @if (ViewBag.Logeado)
  {
  <!-- promociones -->
  <div class="section_title text-center mb-80 mt-5">
    <span>Promociones</span>
  </div>
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <img class="card-img-top" src="/img/promotions/ticket.png" alt="Ticket Buffet">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">Ticket Buffet</h5>
              <form method="post" asp-action="ComprarPromocion">
                <input type="hidden" name="puntos" value="80" />
                <button type="submit" class="btn btn-warning precio precio">80 <i class="fa fa-diamond" aria-hidden="true"></i></button>
              </form>
            </div>

            <p class="card-text text-justify">Ticket para acceder a un buffet libre organizado por nosotros</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <img class="card-img-top" src="/img/promotions/estatua.jpg" alt="Estatua Sullivan">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">Estatua Sullivan</h5>
              <form method="post" asp-action="ComprarPromocion">
                <input type="hidden" name="puntos" value="200" />
                <button type="submit" class="btn btn-warning precio">200 <i class="fa fa-diamond" aria-hidden="true"></i></button>
              </form>
            </div>

            <p class="card-text text-justify">Estatua de hamburguesa exclusiva para los mejores clientes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin promociones -->
  }
</div>
<!-- best_burgers_area_end  -->
<!-- features_room_startt -->
<div class="Burger_President_area">
    <div class="Burger_President_here">
        <div class="single_Burger_President">
            <div class="room_thumb">
                <img src="/img/burgers/1.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>15€</span>
                        <h3>Menú Presidente</h3>
                        <p>
                            - Hamburguesa 100% pechuga marinada crujiente 200g sobre un pan con masa madre con cheddar, bacon y canónigos.
                        </p>
                        <p>
                            - Snack a elegir entre patatas caseras o croquetas.
                        </p>
                        <p>
                            - Selección de un refresco de 40 cl y bebidas alcohólicas.
                        </p>
                        @*<a href="#" class="boxed-btn3">Pedir ahora</a>*@
                    </div>

                </div>
            </div>
        </div>
        <div class="single_Burger_President">
            <div class="room_thumb">
                <img src="/img/burgers/2.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>15€</span>
                        <h3>Menú Signature</h3>
                        <p>
                            - Hamburguesa de vaca rubia gallega madurada 180g.
                        </p>
                        <p>
                            - Patatas fritas o Deluxe o Ensalada de la Huerta.
                        </p>
                        <p>
                            - Una botella de 50 cl de agua Nestlé Aquarel, un refresco de 40 cl, una cerveza Mahou
                            de 30cl o una cerveza sin alcohol Mahou de 30cl

                        </p>
                        @*<a href="#" class="boxed-btn3">Pedir ahora</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_room_end -->
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumb2">
                    <div class="img_1">
                      <img src="/img/about/1.png" alt="">
                    </div>
                    <div class="img_2">
                      <img src="/img/about/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>¿Qué ofrecemos?</span>
                        <h3>
                            Mejores Burgers <br>
                            de la zona
                        </h3>
                    </div>
                    <p>
                        Burgers 100% de ternera, ensaladas frescas hechas al momento, variedad de panes con alto
                        contenido en fibras, de cereales, sin gluten…
                    </p>
                    <p>Variedades vegetarianas y veganas.</p>
                    <p>
                        Todo pensado para que puedas disfrutar de nuestro "Fast Good" de manera saludable y
                        nutritiva.
                    </p>
                    <div class="img_thumb">
                        <img src="/img/firma.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->
<!-- video_area_start -->
<div class="video_area video_bg overlay">
    <div class="video_area_inner text-center">
        <h3>
            Burger <br>
            Sullivan
        </h3>
        <span>Cómo hacemos esta deliciosa hamburguesa</span>
        <div class="video_payer">
            <a href="https://www.youtube.com/watch?v=uP_NGr3NhvI" class="video_btn popup-video">
                <i class="fa fa-play"></i>
            </a>
        </div>
    </div>
</div>
<!-- video_area_end -->
@if (valoraciones.Count() > 0)
{
  <!-- testimonial_area_start  -->
  <div class="testimonial_area ">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section_title mb-60 text-center">
            <span>Lo que dicen de nosotros</span>
            <h3>Valoraciones de nuestros clientes</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="testmonial_active owl-carousel">
            @foreach (ValoracionRestaurante val in valoraciones)
            {
            <div class="single_carousel">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="single_testmonial text-center">
                    <p>
                      @val.Comentario
                    </p>
                    <div class="testmonial_author">
                      <div class="thumb">
                        <img src="/img/testmonial/user.png" width="62" height="62" alt="">
                      </div>
                      <h4>@val.Usuario.Nombre @val.Usuario.Apellidos</h4>
                      <div class="stars">
                        @while(val.Valoracion > 0)
                        {
                          if (val.Valoracion >= 1)
                          {
                            <i class="fa fa-star"></i>
                            val.Valoracion--;
                          } else if (val.Valoracion >= 0.5)
                          {
                            <i class="fa fa-star-half"></i>
                            val.Valoracion -= 0.5;
                          } else
                          {
                            val.Valoracion--;
                          }
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
          @if (ViewBag.Logeado && !ViewBag.yaValorado)
          {
            <form asp-action="NuevaValoracion" method="post" class="d-flex flex-column align-items-center">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input type="hidden" asp-for="Email" value="@ViewBag.Usuario.Email" />
              <div class="d-flex flex-row justify-content-center text-center flex-gap">
                <div class="form-group">
                  <label asp-for="Comentario" class="control-label"></label>
                  <input required asp-for="Comentario" class="form-control" />
                  <span asp-validation-for="Comentario" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label asp-for="Valoracion" class="control-label"></label>
                  <input required type="number" max="5" min="1" asp-for="Valoracion" class="form-control"></input>
                  <span asp-validation-for="Valoracion" class="text-danger"></span>
                </div>

              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width:150px"> Enviar </button>
              </div>
            </form>
          }
        </div>
      </div>
    </div>
  </div>
  <!-- testimonial_area_ned  -->
}
<!-- instragram_area_start -->
<div class="instragram_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="/img/instragram/1.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="/img/instragram/2.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="/img/instragram/3.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="/img/instragram/4.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- instragram_area_end -->
