@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Productos";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <h3>Productos</h3>
</div>
<!-- bradcam_area_end -->
<!-- best_burgers_area_start  -->
<div class="best_burgers_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text-center mb-80">
          <span>Hamburguesas</span>
          <h3>Las Mejores Hamburguesas</h3>
        </div>
      </div>
    </div>
    <div class="row">
      @foreach (var obj in ViewBag.Hamburguesas)
    {
      <div class="col-xl-6 col-md-6 col-lg-6">
        <div class="single_delicious d-flex align-items-center">
          <div class="thumb">
            <img src="/img/products/burger/@obj.Imagen" alt="@obj.Nombre img">
          </div>
          <div class="info">
            <h3>@obj.Nombre</h3>
            <p>@obj.Descripcion</p>
            <span>@obj.Precio€</span>
          </div>
        </div>
      </div>
    }
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="iteam_links">
          <a class="boxed-btn5" href="Menu.html">Más productos</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- best_burgers_area_end  -->
<!-- complements_area_start  -->
<div class="best_burgers_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text-center mb-80">
          <span>Complementos</span>
        </div>
      </div>
    </div>
    <div class="row">
      @foreach (var obj in ViewBag.Complementos)
      {
        <div class="col-xl-6 col-md-6 col-lg-6">
          <div class="single_delicious d-flex align-items-center">
            <div class="thumb">
              <img src="/img/products/complements/@obj.Imagen" alt="@obj.Nombre img">
            </div>
            <div class="info">
              <h3>@obj.Nombre</h3>
              <p>@obj.Descripcion</p>
              <span>@obj.Precio€</span>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="iteam_links">
          <a class="boxed-btn5" href="Menu.html">Más productos</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- complements_area_end  -->
<!-- drinks_area_start  -->
<div class="best_burgers_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text-center mb-80">
          <span>Bebidas</span>
        </div>
      </div>
    </div>
    <div class="row">
      @foreach (var obj in ViewBag.Bebidas)
      {
        <div class="col-xl-6 col-md-6 col-lg-6">
          <div class="single_delicious d-flex align-items-center">
            <div class="thumb">
              <img src="/img/products/drinks/@obj.Imagen" alt="@obj.Nombre img">
            </div>
            <div class="info">
              <h3>@obj.Nombre</h3>
              <p>@obj.Descripcion</p>
              <span>@obj.Precio€</span>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="iteam_links">
          <a class="boxed-btn5" href="Menu.html">Más productos</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- drinks_area_end  -->

<!-- desserts_area_start  -->
<div class="best_burgers_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text-center mb-80">
          <span>Postres</span>
        </div>
      </div>
    </div>
    <div class="row">
      @foreach (var obj in ViewBag.Postres)
      {
        <div class="col-xl-6 col-md-6 col-lg-6">
          <div class="single_delicious d-flex align-items-center">
            <div class="thumb">
              <img src="/img/products/desserts/@obj.Imagen" alt="@obj.Nombre img">
            </div>
            <div class="info">
              <h3>@obj.Nombre</h3>
              <p>@obj.Descripcion</p>
              <span>@obj.Precio€</span>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="iteam_links">
          <a class="boxed-btn5" href="Menu.html">Más productos</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- desserts_area_end  -->

<!-- features_room_startt -->
<div class="Burger_President_area">
  <div class="Burger_President_here">
    <div class="single_Burger_President">
      <div class="room_thumb">
        <img src="/img/burgers/1.png" alt="">
        <div class="room_heading d-flex justify-content-between align-items-center">
          <div class="room_heading_inner">
            <span>15€</span>
            <h3>Menú Presidente</h3>
            <p>
              - Hamburguesa 100% pechuga marinada, jugosa y crujiente 200g montada sobre un pan con masa madre con cheddar, bacon, canónigos y rúcula, tomate y salsa.
            </p>
            <p>
              - Snack a elegir entre patatas caseras o croquetas.
            </p>
            <p>
              - Selección de un refresco de 40 cl y bebidas alcohólicas.
            </p>
            <a href="#" class="boxed-btn3">Pedir ahora</a>
          </div>

        </div>
      </div>
    </div>
    <div class="single_Burger_President">
      <div class="room_thumb">
        <img src="/img/burgers/2.png" alt="">
        <div class="room_heading d-flex justify-content-between align-items-center">
          <div class="room_heading_inner">
            <span>15€</span>
            <h3>Menú Signature</h3>
            <p>
              - Hamburguesa de vaca rubia gallega madurada 180g.
            </p>
            <p>
              - Patatas fritas o Deluxe o Ensalada de la Huerta.
            </p>
            <p>
              - Una botella de 50 cl de agua Nestlé Aquarel, un refresco de 40 cl, una cerveza Mahou
              de 30cl o una cerveza sin alcohol Mahou de 30cl

            </p>
            <a href="#" class="boxed-btn3">Pedir ahora</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- features_room_end -->
<!-- instragram_area_start -->
<div class="instragram_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="/img/instragram/1.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="/img/instragram/2.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="/img/instragram/3.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="/img/instragram/4.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- instragram_area_end -->
