@model IEnumerable<Pedido>

@{
  ViewData["Title"] = "Gestión de pedidos";
  ViewData["PageType"] = "admin";
}


<div class="usersAdmin table-responsive m-5">
  <h2>Gestión de <b>pedidos</b></h2>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var obj in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => obj.Fecha)
          </td>
          <td>
            @Html.DisplayFor(modelItem => obj.Estado)
          </td>
          <td>
            @Html.DisplayFor(modelItem => obj.Tipo)
          </td>
          <td>
            @Html.DisplayFor(modelItem => obj.Usuario.Email)
          </td>
          <td>
            <a title="Editar" asp-action="Edit" asp-route-id="@obj.Id"><i class="fa fa-pencil"></i></a>
            <a title="Eliminar" asp-action="Delete" asp-route-id="@obj.Id"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      }
    </tbody>
  </table>

</div>

