
@{
    ViewData["Title"] = "Realizar pedido";
    ViewData["PageType"] = "user";

}

<div class="container usersAdmin w-100">
  <h1>Realiza tu pedido</h1>
  <hr>
  <div class="row">
    <div class="col-md-2 mb-3">
      <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="hamburguesas-tab" data-toggle="tab" href="#hamburguesas" role="tab" aria-controls="hamburguesas" aria-selected="true">Hamburguesas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="complementos-tab" data-toggle="tab" href="#complementos" role="tab" aria-controls="complementos" aria-selected="false">Complementos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="bebidas-tab" data-toggle="tab" href="#bebidas" role="tab" aria-controls="bebidas" aria-selected="false">Bebidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="postres-tab" data-toggle="tab" href="#postres" role="tab" aria-controls="postres" aria-selected="false">Postres</a>
        </li>
      </ul>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-10">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="hamburguesas" role="tabpanel" aria-labelledby="hamburguesas-tab">
          <div class="card-columns">
            @foreach (Producto obj in ViewBag.Hamburguesas)
            {
              <div class="card">
                <img class="card-img-top" src="/img/products/hamburguesas/@obj.Imagen" alt="@obj.Nombre img">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">@obj.Nombre</h5>
                    <span class="precio">@string.Format("{0:0.00}", obj.Precio)€</span>
                  </div>

                  <p class="card-text text-justify">@obj.Descripcion</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                  <input class="text-center pl-3 rounded orderInput" type="number" min="0" value="0" max="@obj.Stock">
                </div>
              </div>
            }
            
          </div>
        </div>
        <div class="tab-pane fade" id="complementos" role="tabpanel" aria-labelledby="complementos-tab">
          <div class="card-columns">
            @foreach (Producto obj in ViewBag.Complementos)
            {
              <div class="card">
                <img class="card-img-top" src="/img/products/complementos/@obj.Imagen" alt="@obj.Nombre img">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">@obj.Nombre</h5>
                    <span class="precio">@string.Format("{0:0.00}", obj.Precio)€</span>
                  </div>

                  <p class="card-text text-justify">@obj.Descripcion</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                  <input class="text-center pl-3 rounded orderInput" type="number" min="0" value="0" max="@obj.Stock">
                </div>
              </div>
            }

          </div>
        </div>
        <div class="tab-pane fade" id="bebidas" role="tabpanel" aria-labelledby="bebidas-tab">
          <div class="card-columns">
            @foreach (Producto obj in ViewBag.Bebidas)
            {
              <div class="card">
                <img class="card-img-top" src="/img/products/bebidas/@obj.Imagen" alt="@obj.Nombre img">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">@obj.Nombre</h5>
                    <span class="precio">@string.Format("{0:0.00}", obj.Precio)€</span>
                  </div>

                  <p class="card-text text-justify">@obj.Descripcion</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                  <input class="text-center pl-3 rounded orderInput" type="number" min="0" value="0" max="@obj.Stock">
                </div>
              </div>
            }

          </div>
        </div>
        <div class="tab-pane fade" id="postres" role="tabpanel" aria-labelledby="postres-tab">
          <div class="card-columns">
            @foreach (Producto obj in ViewBag.Postres)
            {
              <div class="card">
                <img class="card-img-top" src="/img/products/postres/@obj.Imagen" alt="@obj.Nombre img">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">@obj.Nombre</h5>
                    <span class="precio">@string.Format("{0:0.00}", obj.Precio)€</span>
                  </div>

                  <p class="card-text text-justify">@obj.Descripcion</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                  <input class="text-center pl-3 rounded orderInput" type="number" min="0" value="0" max="@obj.Stock">
                </div>
              </div>
            }

          </div>
        </div>
      </div>
      <button class="btn w-100 sullivanButton">Añadir al pedido</button>
    </div>
    <!-- /.col-md-8 -->
  </div>
</div>
<!-- /.container -->